/*=============== Home page ===========*/
.category{
  margin: 20px 0px;
  .category-bg{
    padding: 145px 0px 5px 0px;
    .headline{
      margin-left: 20px;
      line-height: 40px;
    }
  }
  h2{
    border-left: 3px solid rgb(83, 3, 83);
    padding-left: 10px;
  }
  .heading{
    background-color: purple;
    padding: 6px;
    color: aliceblue;
    border-radius: 10px;
  }
}

.generalhealth {
  display: flex;
  .news-card{
    width: 250px;
    height: 280px;
    // border-radius: 10px;
    // margin: 15px;
    border: 1px solid black;
    flex-basis: 270px;
  }
}