.fitness-news{
  padding: 10px 0px 100px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // border: 1px solid green;
  margin: auto;
  .news-card{
    border: 1px solid black;
    flex-basis: 300px;
    min-height: 280px;
    height: auto !important;
    margin-top: 15px;
    img{
      width: 100%;
    }
  }
}